:host {
  display: flex;
  flex: 1;
  padding: 15px;
  position: relative;
}

.mat-column-actions {
  md-icon {
    font-size: 18px;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
