:host {
  display: flex;
  flex: 1;
  background: #1e3c72;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.login-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 3px;
  margin: 15px;
}
